<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
    </head>
    <body>
        {% block body %}
            <div id="app">Une erreur est survenue lors du chargement de cette page !</div>
        {% endblock %}
        {% block javascripts %}
            {{ encore_entry_script_tags("app") }}
            <script defer src="{{ asset('build/app.js')}}"></script>
        {% endblock %}
    </body>
</html>
