<template>
  <div id="app">
    <Hello></Hello>
  </div>
</template>

<script>
  import Hello from './components/Hello'

  class TestClassSyntax {

  }

  export default {
    name: 'app',
    components: {
      Hello
    }
  }
</script>